p{
    font-family: Arial;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}
.handel{
    font-weight: bold;
    margin-bottom: 10px;
}
.tag{
    color:rgb(96, 96, 96);
    font-weight: normal;
}
.content{
    width: 600px;
    line-height: 24px;
    margin-bottom: 20px;
}
.author{
    margin-bottom: 25px;
}
.user-tag{
    color: blue;
    cursor: pointer;
}
.price{
    margin-top: 25px;
    margin-bottom: 10px;
}
.rate{
    font-size: 36px;
    margin-right: 5px;
}
.dollar{
    font-size: 18px;
    color: rgb(96, 96, 96);
}
.change{
    margin-bottom: 10px;
    color: green;
}
.time{
    color: rgb(96, 96, 96);
}
.diff{
    color: red;
}