body{
    font-family: Roboto, Arial;
    padding-top: 80px;
    height: 3000px;
    margin: 0;
}
.icon{
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}
.header{
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 2;
}
.hamburger-menu{
    width: 24px;
    height: 24px;
    margin-left: 24px;
}
.youtube-logo{
    height: 20px;
    margin-left: 24px;
}
.left,.search-button,.search-voice-button,.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    flex:1;
    max-width: 700px;
    display: flex;
    justify-content: end;
    position: relative;
    margin-left: 50px;
}
.header button{
    position: relative;
    cursor: pointer;
}
.search-button{
    height: 40px;
    width: 64px;
    background-color: rgb(247,247,247);
    border: 1px solid rgb(204,204,204);
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 15px;
}
.search-voice-button{
    width: 40px;    
    border: none;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}
.tooltip{
    position: absolute;
    bottom: -40px;
    font-size: 12px;
    white-space: nowrap;
    background-color: gray;
    color: white;
    padding: 5px 5px;
    pointer-events: none;
    opacity: 0;
}
.search-button:hover .tooltip, .search-voice-button:hover .tooltip, .util:hover .tooltip{
    opacity: 1;
}
.search{
    flex:1;
    width: 0;
    max-width: 520px;
    border: 1px solid rgb(204,204,204);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 15px;
    font-size: 16px;
    box-shadow: inset 0 1px 2px rgb(238,238,238);
    outline: none;
    position: relative;
}
.hidden-icon{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.hidden{
    position: absolute;
    left: 15px;
    opacity: 0;
}
.search:focus-within{
    border-color: blue;
    max-width: 550px;
}
.search:focus-within .hidden{
    opacity: 1;
}
.search-bar{
    position: absolute;
    left:15px;
    right: 0;
    outline: none;
    border: none;
    font-size: 16px;
}
.search:focus-within .search-bar{
    left: 45px;
}
.search-bar::placeholder{
    font-size: 16px;
    color: gray;
    font-family: Roboto, Arial;
}
.right{
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.util{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.user-pic{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}